MONGODB_URI="{{your_uri}}"
SESSION_SECRET="some secret value"
MAILTRAP_TOKEN="{{your_token}}"
EMAIL_FROM="{{your_email_from}}"
BASE_URL="http://localhost:3000"
SENDER_NAME="Mailtrap Test"

# tg: vanikdev (мой контакт, если лень разбираться с MongoDB и Mailtrap)